.search{
    background-color: #FAFAFA;
    height: 9rem;
    display: flex;
    flex-direction: row;
}
.search_left{
    display: flex;
    width: 80%;
}
.search_right{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
.search_icons{
    width: 4rem;
    height: 4rem;
    border: 1px solid #F3F3F3;
    margin: auto 0;
}
.search_icons_left{
    margin-left: 3rem;
}
.search_icons_right{
    margin-right: 3rem;
}
.search_input{
    width: 40%;
    height: 4rem;
    margin: auto 0;
    padding: 1.5rem;
    border-bottom: 1px solid #F3F3F3;
    border-top: 1px solid #F3F3F3;
    border-left: 1px solid #F3F3F3;
    border-right: none;
    font-size: 1.6em;
}
.search_icons_button{
    width: 4rem;
    height: 4rem;
    margin: auto 0;
    box-sizing: border-box;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
    border-right: 1px solid #F3F3F3;
    background-color: #fff;
}
.search_notification, .search_hexagon{
    display: block;
    width: 9rem;
    height: 9rem;
    border: 1px solid #F3F3F3;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_notification .icons, .search_hexagon .icons{
    width: 2.5rem;
    height: 2.5rem;
}
