.sidebar{
    background-color: #FBFBFB;/*  #FBFBFB; */
    width: 30rem;
    /* height: 1000px;s */
    border-right: 1px solid #F2F2F2;
}
.username{
    width: 100%;
    height: 10rem;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.avatar{
    margin: auto 0;
}
.user_avatar{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}
.name{
    margin: auto 0;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
}
.name_text{
    font-weight: bold;
    padding-right: 0.5rem;
    font-size: 1.4em;
}

.library_text{
    color:#ABAFB2;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin: 1rem 2.5rem 1rem 1rem;
    padding-right: 1rem;
}
.library_item{
    color: #656C72;
    margin: 2.5rem auto 2.5rem 3rem;
    list-style: none;
}
.library_item_text{
    font-size: 1.35em;
    font-weight: 550;
    font-style: normal;
    text-decoration-thickness: 3rem;
    text-indent: 2rem;
    margin-left: 2rem;
}
.icons{
    height: 1.5rem;
    width: 1.5rem;
}

.playlist_text{
    color:#ABAFB2;
    width: 90%;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin: 1rem auto 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
.playlist_item{
    color: #3C83FF;
    margin: 2.5rem auto 2.5rem 3.5rem;
    list-style-position: inside;
}
.playlist_item_text{
    color: #656C72;
    font-size: 1.35em;
    font-weight: 550;
    font-style: normal;
    text-decoration-thickness: 3rem;
    text-indent: 2rem;
    margin-left: 1rem;
}

.collection_text{
    color:#ABAFB2;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin: 1rem auto 1rem 1.5rem;
}
.collection_item{
    margin: 2.5rem auto 2.5rem 3rem;
    list-style: none;
}
.collection_item_text{
    color: #656C72;
    font-size: 1.35em;
    font-weight: 550;
    font-style: normal;
    text-decoration-thickness: 3rem;
    text-indent: 2rem;
    margin-left: 3.2rem;
}